*{
    border: 1px solid black;
}

.container{
    display: flex;
    height: 500px;
    background-color:rgb(36,81,118);
    
}

nav{
    display: flex;
    height: 130px;
    
}

.nav-links{
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 25px;
}

h1{
    display: flex;
    align-self: baseline;
    font-size: medium;
    color: ;
    margin-top: 100px;
}