.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
}
.top{
    width: 950px;
    background-color: aqua;
    margin: 0px auto;
    padding: 20px;
}
.middle{
    width: 950px;
    background-color: plum;
    margin: 0px auto;
    padding: 20px;
}
.bottom{
    width: 950px;
    background-color: whitesmoke;
    margin: 0px auto;
    padding: 20px;
}