.nav1{
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.nav-title{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
}

.nav-links{
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 25px;
}


.active{
    height: 20px;
    margin: 20px;
}

.btn{
    height: 25px;
    background-color: aqua;
    box-shadow: 7px 4px 4px black;
    margin-bottom: 5px;
    margin-left: 20px;
}

ul a{
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
}


        .container{
            width: 530px;
            height: 450px;
            border: 1px solid black;
            margin-top: 30px;
            position: relative;
            left: 120px;
        }
        .nav2{
            background-color: rgb(69, 177, 187);
            display: flex;
            height: 130px;
            width: 530px;
            
            
        }
        .profile{
            height: 100px;
            position:absolute;
            margin-left: 70px;
            top: 65px;
            border: 5px solid rgb(252, 248, 248);
            border-radius: 50%;   
            margin-bottom: 300px;
            
        }
        .white{
            height:60px;
            
        }
        .map{
            height: 20px;
            position: relative;
            left: 1px;
            top: 43px;
            margin-top: 60px;
        }
        h1{
            font-size: 40px;
            position: absolute;
            left:70px; top:140px;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 50px;
        }
        .gear{
            height: 20px;
            position: relative;
            top: 5px;
            right: 5px;
        }
        .a{
            font-size: 17px
            
        }
        .paragraph{
            position: relative;
            top: 20px;
            left:80px;
        }
        p{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .seatle{
            position: relative;
            left:20px;
            position: relative;
            
        }


        
        .container1{
            width: 300px;
            height: 245px;
            border: 1px solid black;
            position: relative;
            left: 680px;
            bottom: 450px;
        }
        .nav3{
            background-color: rgb(14, 13, 13);
            display: flex;
            height: 70px;
            width: 300.9px;
            
            
        }
        .profile1{
            height: 40px;
            position:absolute;
            left: 7px;
            top: 84px;
            border: 5px solid rgb(252, 248, 248);
            border-radius: 50%;   
            margin-bottom: 300px;
            
        }
    
    .profile2{
        height: 40px;
        position:absolute;
        left: 7px;
        top: 158px;
        border: 5px solid rgb(252, 248, 248);
        border-radius: 50%;   
        margin-bottom: 300px;
        
    }
    .profile3{
        height: 36px;
        position:absolute;
        left: 15px;
        top: 17px;
        margin-bottom: 300px;
        
    }
    

        .white1{
            height:60px;
            
        }
        .tick-1{
            height: 36px;
            position: relative;
            left: 116px;
            bottom: 58px;
            margin-top: 60px;
        }

        .tick-2{
            height: 36px;
            position: relative;
            left: 77px;
            top: 15px;
            margin-top: 60px;
        }

        .x-1{
            height: 36px;
            position: relative;
            left: 90px;
            top: 17px;
            margin-top: 60px;
        }

        .x-2{
            height: 36px;
            position: relative;
            left: 50px;
            bottom: 58px;
            margin-top: 60px;
        }

        h3{
            font-size: 21px;
            color: white;
            position: absolute;
            left:60px; top: -27px;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 50px;
        }
        .gear1{
            height: 20px;
            position: relative;
            top: 5px;
            right: 5px;
        }
        .a{
            font-size: 17px
            
        }
        .paragraph1{
            position: relative;
            top: 20px;
            left:80px;
        }
        p{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            position: relative;
            bottom: 0px;
        }
        .seatle1{
            color: black;
            
            
            
        }       
        h2{
        font-size: 20px;
        color: black;
        position: relative;
        bottom:107px;
        right: 7px;
        
        }


        .container2{
            width: 300px;
            height: 340px;
            border: 1px solid black;
            position: relative;
            left: 680px;
            bottom: 430px;
        }
        .nav4{
            background-color: rgb(14, 13, 13);
            display: flex;
            height: 70px;
            width: 300.9px;
        
        }

        .nav-1{
            background-color: rgb(255, 255, 255);
            display: flex;
            height: 70px;
            width: 300.9px;
        
        }

        .profile4{
            height: 36px;
            position:absolute;
            left: 15px;
            top: 197px;
            margin-bottom: 300px;
            
        }
    
    .profile5{
        height: 36px;
        position:absolute;
        left: 15px;
        top: 88px;
        margin-bottom: 300px;
        
    }
    .profile6{
        height: 36px;
        position:absolute;
        left: 15px;
        top: 15px;
        margin-bottom: 300px;
        
    }

    .profile7{
        height: 36px;
        position:absolute;
        left: 15px;
        top: 140px;
        margin-bottom: 300px;
        
    }

    .profile8{
        height: 36px;
        position:absolute;
        left: 15px;
        top: 251px;
        margin-bottom: 300px;
        
    }
    

        .white1{
            height:60px;
            
        }


        h4{
            font-size: 21px;
            color: white;
            position: absolute;
            left:60px; top: -27px;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 50px;
        }
        
        
        .a{
            font-size: 17px
        
        }
        .paragraph2{
            position: relative;
            top: 20px;
            left:80px;
        }
        .p{
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            position: relative;
            bottom: 0px;
        }
        .seatle1{
            color: black;
            
        }       

        h5{
        font-size: 20px;
        color: black;
        position: relative;
        bottom:31px;
        right: 7px;
        
        }

        h6{
            font-size: 15px;
            position: relative;
            bottom: 119px;
            right: 60px;
            
            }

            .nav6{
                background-color: rgb(255, 255, 255);
                display: flex;
                height: 44px;
                width: 300.1px;
                position: relative;
                right: 81px;
                bottom: 51px;
                border-style:solid;
                border: 1px solid black;
            }


            .container3{
                width: 533px;
                height: 180px;
                border: 1px solid black;
                position: relative;
                left: 118px;
                bottom: 560px;
            }
            .nav5{
                background-color: rgb(14, 13, 13);
                display: flex;
                height: 50px;
                width: 532.9px;
                
                
            }
            
            .white1{
                height:60px;
                
            }
            
            h7{
                font-size: 21px;
                color: white;
                position: absolute;
                left:30px; top: -37px;
                font-family: Arial, Helvetica, sans-serif;
                margin-top: 50px;
            }
            .gear1{
                height: 20px;
                position: relative;
                top: 5px;
                right: 5px;
            }
            .a{
                font-size: 17px
                
            }
            .paragraph3{
                position: relative;
                top: 20px;
                left:80px;
            }
            p{
                font-size: 20px;
                font-family: Arial, Helvetica, sans-serif;
                position: relative;
                bottom: 0px;
            }
            .seatle1{
                color: black;
                
                
                
            }       
            h8{
            font-size: 20px;
            color: black;
            position: relative;
            bottom:11px;
            right: 51px;
            font-family: Arial, Helvetica, sans-serif;
            
            }

            h9{
                font-size: 20px;
                color: black;
                position: relative;
                top:27px;
                right: 366px;
                font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
                
                }

                h10{
                    font-size: 20px;
                    color: rgb(190, 66, 66);
                    position: relative;
                    top:40px;
                    right: 52px;
                    font-family:monospace
                    
                    }